<!-- +++++ Footer Section +++++ -->

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>My Bunker</h4>
          <p>
            <a href="mailto:{{ site.data.personalinfo.email }}">{{ site.data.personalinfo.email }}</a>,<br/><a href="tel:{{ site.data.personalinfo.phone }}">{{ site.data.personalinfo.phone }}</a>, <br/> {{ site.data.personalinfo.location }}.
          </p>
        </div>
        <!-- /col-lg-4 -->

        <div class="col-lg-4">
          <h4>My Links</h4>
          <p>
            <a href="{{ site.data.personalinfo.linkedin }}">Linked In</a><br/>
            <a href="{{ site.data.personalinfo.github }}">Github</a><br/>
            <a href="{{ site.data.personalinfo.stackoverflow }}">Stack Overflow</a>
          </p>
        </div>
        <!-- /col-lg-4 -->

        <div class="col-lg-4">
          <h4>About {{ site.data.personalinfo.name }}</h4>
          <p>{{ site.data.personalinfo.oneliner }}</p>
        </div>
        <!-- /col-lg-4 -->
      </div>
    </div>
  </div>

  <div id="copyrights">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Stanley</strong>. All Rights Reserved
      </p>
      <div class="credits">
        <!--
          You are NOT allowed to delete the credit link to TemplateMag with free version.
          You can delete the credit link only if you bought the pro version.
          Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/stanley-bootstrap-freelancer-template/
          Licensing information: https://templatemag.com/license/
        -->
        Created with Stanley template by <a href="https://templatemag.com/">TemplateMag</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->