<div class="row">
	<div class="small-12 medium-12 large-12 columns">
		<footer>
			<ul>
				<li>&copy; {{ 'now' | date: "%Y" }} <a href="/">{{ site.title }}</a>. All rights reserved.</li>
				<li><a href="tel:{{ site.data.personalinfo.phone }}" target="_blank"><i class="fa fa-envelope-o"></i> {{ site.phone }}</a></li>
				<li><a href="mailto:{{ site.data.personalinfo.email }}"><i class="fa fa-envelope-o"></i> {{ site.email }}</a></li>
				
				<!-- *****************************************************************************************
				The "Powered by Type & Grids" link in the footer is required in the Free version
				typeandgrids.com/pirates -->
				<li>Powered by <a href="http://www.typeandgrids.com" target="_blank">Type &amp; Grids</a></li>
				<!--  ************************************************************************************ -->
				
			</ul>
			<div class="social-icons">
				<a href="{{ site.data.personalinfo.linkedin }}" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
				<a href="{{ site.data.personalinfo.github_url }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
				<a href="{{ site.data.personalinfo.stackoverflow }}" target="_blank"><i class="fa fa-stack-overflow fa-2x"></i></a>
				<a href="{{ site.data.personalinfo.twitter }}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
			</div>
		</footer>
	</div>
</div>