<meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="anas iqbal, programmer portfolio, game developer portfolio, game programmer, software engineer, programming, portfolio, game, development, game development, c++, c#, gamedev, game design" name="keywords">
  <meta content="{{ site.description }}" name="description">

  <!-- Favicons -->
  <link href="/assets/images/favicons/AI-Icon-32.png" rel="icon">
  <link href="/assets/images/favicons/AI-Icon-114.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!--  <link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->

  <!-- Main Stylesheet File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: Stanley
    Template URL: https://templatemag.com/stanley-bootstrap-freelancer-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->

{% seo %}