<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- ******************************************************************************************
Set the type and color theme here - the Pro version contains additional themes -->
<link href="/assets/css/hawthorne_type5_color6.css" rel="stylesheet" />
<link href="/assets/css/custom.css" rel="stylesheet" />
<link href="/assets/css/jquery_gridly/jquery.gridly.css" rel="stylesheet" />

<!--  ************************************************************************************* -->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<!-- Favicons
================================================================================================= -->
<link rel="shortcut icon" href="/assets/images/favicons/AI-Icon-16.ico">
<link rel="apple-touch-icon" href="/assets/images/favicons/AI-Icon-32.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/AI-Icon-72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/AI-Icon-114.png">

<title>{{ site.title }}</title>
<meta name="keywords" content="anas iqbal, programmer portfolio, game developer portfolio, game programmer, software engineer, programming, portfolio, game, development, game development, c++, c#, gamedev, game design">

{% seo %}
