<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
		<!-- <li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li> -->
		<li class="{{ page.professionalprojects }}"><a href="/projects/professionalprojects" title="Professional Projects">Projects<br>[<small>Professional</small>]</a></li>
		<li class="{{ page.personalprojects }}"><a href="/projects/personalprojects" title="Personal Projects">Projects<br>[<small>Personal</small>]</a></li>
		
<!--		<li class="{{ page.posts }}"><a href="/posts" title="Posts">Posts</a></li>-->
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Anas Iqbal</a></h3>
</div> <!-- /header -->