
div.social-icons {
	text-align: center;
}

div.social-icons i {
	padding-left: 0.25em;
	padding-right: 0.25em;
	color: #262422;
}

div.social-icons a i {
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

div.social-icons a:hover i {
	color: #605b55;
	-webkit-transition: color 0.2s ease-out;
	-moz-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.img-circle {
	border-radius: 50%;
}

#profilesidebar {
	/* position: -webkit-sticky;  // required for Safari */
    position: sticky;
    top: 0;

	margin: auto;
}

#profilesidebar img {
	max-width: 200px;
}

.lined-list .custom-lined-list li {
	padding-bottom: 0;
	border: 0;
}

li span {
	display: block;
	padding: 0;
	margin: 0;

	font-style: italic;
	font-size: 0.9em;
	color: #605b55;
}

/* Gridly */
.gridly_portfolio
{
    position: relative;
/*    max-width: 70.5rem;*/
    margin: auto;
}
.gridly_portfolio .brick.small
{
/*    background: #aeaaa5;*/
    width: 200px;
    height: 230px;
}

.gridly_portfolio .brick.small:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 30px;
  left: 0;
  right: 0;
  background: #605b5577;
  transition: all 1s linear;
}
.gridly_portfolio .brick.small:before { 
  background: none;
}

.gridly_portfolio .brick.small img
{
    width: 100%;
}

.gridly_portfolio .brick.large
{
/*    background: #aeaaa5;*/
    width: 200px;
    height: 420px;
}

.gridly_screenshots
{
    position: relative;
    margin: auto;
}
.gridly_screenshots .brick.small
{
/*    background: #aeaaa5;*/
    width: 200px;
    height: 500px;
    overflow: hidden;
}

.gridly_screenshots .brick.small img
{
    width: 100%;
}

.gridly_videos
{
    position: relative;
    margin: auto;
}

.gridly_videos .brick.small
{
    width: 500px;
    height: 300px;
}

.gridly_videos .brick.large
{
    width: 500px;
    height: 300px;
}
